<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p><%= t 'spree.powered_by' %> Nois <%= link_to 'Fatec|RL', 'http://fatecrl.edu.br' %></p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>
